<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ModeratedModel</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "New", new_moderated_model_path, class:"nav-link btn btn-dark text-white" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
